{% load static %}
<!DOCTYPE html> <html> 
  <html lang="fr"></html>
  <head> 
  <link rel="stylesheet" href="{% static 'projetstage/css/commande.css' %} "> 
  </head> 

  <body>
{% block content %}
  <h1>Enregistrer une commande</h1>
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="date_commande">Date de commande :</label>
      <input type="date" name="date_commande" id="date_commande">
    </div>
    <div>
      <label for="articles_commandes">Articles commandés :</label>
      <input type="text" name="articles_commandes" id="articles_commandes">
    </div>
    <div>
      <label for="quantite_commandee">Quantité commandée :</label>
      <input type="number" name="quantite_commandee" id="quantite_commandee">
    </div>
    <div>
      <label for="statut_commande">Statut de la commande :</label>
      <input type="text" name="statut_commande" id="statut_commande">
    </div>
    <div>
      <label for="id_fournisseur">Fournisseur :</label>
      <select name="id_fournisseur" id="id_fournisseur">
        {% for fournisseur in fournisseurs %}
          <option value="{{fournisseur.id}}">{{fournisseur.nom}}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="date_livraison_prevue">Date de livraison prévue :</label>
      <input type="date" name="date_livraison_prevue" id="date_livraison_prevue">
    </div>
    <div>
      <label for="id_equipement">Equipement :</label>
      <select name="id_equipement" id="id_equipement">
        <option value="">-- Sélectionner un équipement --</option>
        {% for equipement in equipements %}
          <option value="{{equipement.id}}">{{equipement.nom}}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="id_consommable">Consommable :</label>
      <select name="id_consommable" id="id_consommable">
        <option value="">-- Sélectionner un consommable --</option>
        {% for consommable in consommables %}
          <option value="{{consommable.id}}">{{consommable.nom}}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="id_materiel_informatique">Matériel informatique :</label>
      <select name="id_materiel_informatique" id="id_materiel_informatique">
        <option value="">-- Sélectionner un matériel informatique --</option>
        {% for materiel_informatique in materiels_informatiques %}
          <option value="{{materiel_informatique.id}}">{{materiel_informatique.nom}}</option>
        {% endfor %}
      </select>
    </div>
  <!-- Lien vers le fichier JavaScript -->
  <script src="{% static 'projetstage/js/enregistrer_commande.js' %}"></script>

{% endblock %} 
</body></html>

