{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <p class="left-aligned-text">Bienvenue sur notre application ! Pour accéder à toutes les fonctionnalités de cette application, veuillez vous connecter ou vous inscrire si vous êtes nouveau.</p>
        <p>
            <a href="{% url 'login' %}" role="button">Connexion</a>
            <span class="bar"></span>
            <a href="{% url 'register' %}" role="button">Inscription</a>
        </p>
    </div>
{% endblock %}