{% load static %}
<!DOCTYPE html> <html> 
  <html lang="fr"></html>
  <link rel="stylesheet" href="{% static 'projetstage/css/enregistrer_liste.css' %} "> 
  <head> 
  </head> 

  <body> 


{% block content %}
  <h1>Liste des commandes</h1>
  <table>
    <thead>
      <tr>
        <th>Date de commande</th>
        <th>Articles commandés</th>
        <th>Quantité commandée</th>
        <th>Statut de la commande</th>
        <th>Fournisseur</th>
        <th>Date de livraison prévue</th>
        <th>Equipement</th>
        <th>Consommable</th>
        <th>Matériel informatique</th>
      </tr>
    </thead>
    <tbody>
      {% for commande in commandes %}
        <tr>
          <td>{{commande.date_commande}}</td>
          <td>{{commande.articles_commandes}}</td>
          <td>{{commande.quantite_commandee}}</td>
          <td>{{commande.statut_commande}}</td>
          <td>{{commande.id_fournisseur.nom}}</td>
          <td>{{commande.date_livraison_prevue}}</td>
          <td>
            {% if commande.id_equipement %}
              {{ commande.id_equipement.nom }}
            {% else %}
              -
            {% endif %}
          </td>
          <td>
            {% if commande.id_consommable %}
              {{ commande.id_consommable.nom }}
            {% else %}
              -
            {% endif %}
          </td>
          <td>
            {% if commande.id_materiel_informatique %}
              {{ commande.id_materiel_informatique.nom }}
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="9">Aucune commande n'a été enregistrée pour le moment.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
</body></html>
