{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Liste des équipements</title>
    <link rel="stylesheet" href="{% static 'projetstage/css/liste.css' %}">
  </head>

  <body>
    {% block content %}
    <div class="container">
      <h1>Liste des équipements</h1>
      {% if equipements %}
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Identifiant équipement</th>
              
              <th>Nom</th>
              <th>Numéro de série</th>
              <th>Date d'achat</th>
              <th>Date de début de garantie</th>
              <th>Date de fin de garantie</th>
              <th>Statut</th>
              <th>Utilisateur</th>
              <th>Emplacement actuel</th>
              <th>Fournisseur</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for equipement in equipements %}
            <tr>
              <td>{{equipement.id_equipement}}</td>
              <td>{{ equipement.nom }}</td>
              <td>{{ equipement.numero_serie }}</td>
              <td>{{ equipement.date_achat }}</td>
              <td>{{ equipement.date_debut_garantie }}</td>
              <td>{{ equipement.date_fin_garantie }}</td>
              <td>{{ equipement.statut }}</td>
              <td>{{ equipement.id_utilisateur.nom }} {{ equipement.id_utilisateur.prenom }}</td>
              <td>{{ equipement.emplacement_actuel }}</td>
              <td>{{ equipement.id_fournisseur }}</td>
              <td>
                <a href="{% url 'modifier_equipement' equipement.id_equipement %}">Modifier</a>
                <a href="{% url 'supprimer_equipement' equipement.id_equipement %}">Supprimer</a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="10">Aucun équipement n'a été enregistré pour le moment.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <p>Aucun équipement n'a été enregistré pour le moment.</p>

    </div>
    {% endif %}
    {% endblock %}
  </body>
</html>