{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Tableau de bord</title>
  <link rel="stylesheet" href="{% static 'projetstage/css/tableau_de_bord.css' %}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="{% static 'projetstage/img/logo_DGI.png' %}" alt="Logo de l'application">
    </div>
    <nav>
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Profil</a></li>
        <li><a href="#">Paramètres</a></li>
        <li><a href="{% url 'deconnexion_admin' %}">Déconnexion</a></li>
    </ul>
    </nav>
  </header>
  <main>
    <h1>Tableau de bord</h1>
    <div class="cards">
      <div class="card">
        <h2>Affectations</h2>
        <a href="{% url 'liste_affectations' %}" class="button">Voir la liste</a>
        <a href="{% url 'ajouter_affectation' %}" class="button">Ajouter une affectation</a>
      </div>
      <div class="card">
        <h2>Commandes</h2>
        <a href="{% url 'liste_commandes' %}" class="button">Voir la liste</a>
        <a href="{% url 'enregistrer_commande' %}" class="button">Enregistrer commande</a>
      </div>
      <div class="card">
        <h2>Consommables</h2>
        <a href="{% url 'liste_consommables' %}" class="button">Voir la liste</a>
        <a href="{% url 'ajouter_consommable' %}" class="button">Ajouter un consommable</a>
      </div>
      <div class="card">
        <h2>Demandes</h2>
        <a href="{% url 'liste_demandes' %}" class="button">Voir la liste</a>
      </div>
      <div class="card">
        <h2>Équipements</h2>
        <a href="{% url 'liste_equipements' %}" class="button">Voir la liste</a>
        <a href="{% url 'ajouter_equipement' %}" class="button">Ajouter un équipement</a>
      </div>
      <div class="card">
        <h2>Fournisseurs</h2>
        <a href="{% url 'liste_fournisseurs' %}" class="button">Voir la liste</a>
        <a href="{% url 'ajouter_fournisseur' %}" class="button">Ajouter un fournisseur</a>
      </div>
      <div class="card">
        <h2>Matériels informatiques</h2>
        <a href="{% url 'liste_materiel_informatique' %}" class="button">Voir la liste</a>
        <a href="{% url 'ajouter_materiel' %}" class="button">Ajouter un matériel</a>
      </div>
      <div class="card">
        <h2>Utilisateurs</h2>
        <a href="{% url 'liste_utilisateurs' %}" class="button">Voir la liste</a>
      </div>
    </div>
  </main>
  <footer>
    <p>© Juin 2023 - DEOUASSAL Togdji Exaucé</p>
  </footer>
</body>
</html>