/* Définition des styles de base */
body {
    background-color: blue;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  /* Code CSS pour le formulaire d'ajout d'équipement */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    font-family: Arial, Helvetica, sans-serif;
  }
  
 form h1 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="date"] {
    width: 350px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
  }
  
 form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  form input[type="submit"]:hover {
    background-color: #45a049;
  }


  h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    color:white; 
    }

.btn-ajouter {
        background-color:white;
        color:blue;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
      }

      button[type="submit"] {
        background-color: #428bca;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        font-size: 16px;
        cursor: pointer;
      }
      
      button[type="submit"]:hover {
        background-color: #3071a9;
      }
    